{
    "StartURL": "https://eu.portal.sf.my.com/cult/missions",
    "Login": "YOUR LOGIN HERE",
    "Password": "YOUR PASSWORD HERE",
    "PhantomJsExecutablePathProperty" : "path/to/phantomjs.exe",
    "Quests": [
    	{
    		"Name" : "Tous les ordres ne sont pas bons",
    		"Priority" : 3
        },
		{
    		"Name" : "Bénédiction de Flavius",
    		"Priority" : 1,
			"Adepts" : [
    			"Sorcier",
    			"Templier",
    			""
    		]
        },
        {
    		"Name" : "Les secrets d'Aelion",
    		"Priority" : 8,
    		"Adepts" : [
    			"Mystique", 
    			"Sorcier",
    			"Templier",
    			"Maître de l'art"
    		],
    		"SuccessRate" : 100
        },
        {
        	"Name" : "La découverte du siècle",
    		"Priority" : 3
        },
        {
        	"Name" : "Obélisque mystérieux",
    		"Priority" : 3
        },
        {
        	"Name" : "Des voleurs sans honneur",
    		"Priority" : 3
        },
        {
        	"Name" : "Reconnaissance des forces ennemies",
    		"Priority" : 7
        },
        {
        	"Name" : "Ligne de ravitaillement",
    		"Priority" : 7
        },
        {
        	"Name" : "Interférence",
    		"Priority" : 7
        },
        {
        	"Name" : "Espionnage industriel",
    		"Priority" : 4
        },
        {
        	"Name" : "Bureaucratie",
    		"Priority" : 4
        },
        {
        	"Name" : "Cargaison de valeur",
    		"Priority" : 4
        },
        {
        	"Name" : "Optimisation de la construction",
    		"Priority" : 4
        },
        {
    		"Name" : "Propagation de l'ordre",
    		"Priority" : 4,
    		"Adepts" : [
    			"Prêcheur", 
    			"Templier",
    			"Maître de l'art",
    			"Messager"
    		],
    		"SuccessRate" : 80
        },
        {
        	"Name" : "Modules d'énergie - contrat de Flavius",
    		"Priority" : 6
        },
        {
        	"Name" : "Modules d'énergie - mise au point",
    		"Priority" : 6
        },
        {
        	"Name" : "Modules d'énergie - mécanoïdes",
    		"Priority" : 6
        },
        
        
        {
        	"Name" : "À la recherche des runes du destin",
    		"Priority" : 8,
    		"Adepts" : [
    			"Agent", 
    			"Mystique",
    			"Templier",
    			"Maître de l'art"
    			""
    		]
        },
        {
        	"Name" : "Les savoirs interdits",
    		"Priority" : 3,
    		"SuccessRate" : 75
        },
        {
        	"Name" : "Scruter les environs",
    		"Priority" : 3,
    		"SuccessRate" : 75
        },
        
        {
        	"Name" : "Les inondations de printemps",
    		"Priority" : 3
        },
        {
        	"Name" : "Exploration du site du crash",
    		"Priority" : 3,
    		"SuccessRate" : 75
        },
        {
        	"Name" : "Invasion imminente",
    		"Priority" : 3,
    		"SuccessRate" : 75
        },
        {
        	"Name" : "Rôdeur mystérieux",
    		"Priority" : 3,
    		"SuccessRate" : 75
        },
        {
        	"Name" : "Collecte d'informations",
    		"Priority" : 3,
    		"SuccessRate" : 75
        },
		
        {
        	"Name" : "Les ruines des Aelites",
    		"Priority" : 3,
			"Adepts" : [
    			"Mystique",
				"Prêcheur",
    			"Templier",
    			""
    		]
        },
		
        {
        	"Name" : "Réparation de machines agricoles",
    		"Priority" : 3,
    		"SuccessRate" : 75
        },
        {
        	"Name" : "Les livres aux enchères",
    		"Priority" : 3,
    		"SuccessRate" : 75
        },
        {
        	"Name" : "L'expédition dans les profondeurs",
    		"Priority" : 3,
    		"SuccessRate" : 75
        },
        {
        	"Name" : "Invasion de l'usine",
    		"Priority" : 3,
    		"SuccessRate" : 75
        },
        {
        	"Name" : "Un bâtiment défectueux",
    		"Priority" : 3,
    		"SuccessRate" : 75
        },
        {
        	"Name" : "La mise au point du vaccin",
    		"Priority" : 3,
    		"SuccessRate" : 75
        },
        {
        	"Name" : "L'espionnage des autorités",
    		"Priority" : 3,
    		"SuccessRate" : 75
        },
        {
        	"Name" : "La neutralisation d'un pirate",
    		"Priority" : 3
        },
        {
        	"Name" : "La recette d'élixir de soins",
    		"Priority" : 3
        },
        
        
        {
        	"Name" : "Faucheurs de la mort",
    		"Priority" : 5,
    		"Adepts" : [
    			"Prêcheur", 
    			"Guérisseur",
    			"Templier",
    			""
    		]
        },
        {
        	"Name" : "Invasion des faucheurs de la mort",
    		"Priority" : 5,
    		"Adepts" : [
    			"Prêcheur", 
    			"Guérisseur",
    			"Templier",
    			""
    		]
        },
        
        {
        	"Name" : "L'invasion océanide",
    		"Priority" : 5,
    		"Adepts" : [
    			"Mystique", 
    			"Templier",
    			""
    		]
        },
        
        {
        	"Name" : "L'unité océanide",
    		"Priority" : 5,
    		"Adepts" : [
    			"Mystique", 
    			"Templier",
    			""
    		]
        },
        {
        	"Name" : "Invasion mécanoïde",
    		"Priority" : 5,
    		"Adepts" : [
    			"Agent", 
    			"Templier",
    			""
    		]
        },
        {
        	"Name" : "Troupes mécanoïdes",
    		"Priority" : 5,
    		"Adepts" : [
    			"Agent", 
    			"Templier",
    			""
    		]
        },
        {
        	"Name" : "Unité phytonide",
    		"Priority" : 5,
    		"Adepts" : [
    			"Sorcier", 
    			"Templier",
    			""
    		]
        },
        {
        	"Name" : "Invasion phytonide",
    		"Priority" : 5,
    		"Adepts" : [
    			"Sorcier", 
    			"Templier",
    			""
    		]
        },
        {
        	"Name" : "Invasion démoniaque",
    		"Priority" : 5,
    		"Adepts" : [
    			"Templier",
    			""
    		]
        },
        {
        	"Name" : "Troupes démoniaques",
    		"Priority" : 5,
    		"Adepts" : [
    			"Sorcier",
				"Templier",
    			""
    		]
        },
        {
        	"Name" : "Invasion gorgonide",
    		"Priority" : 5,
    		"Adepts" : [
    			"Agent",
				"Templier",
    			""
    		]
        },
		{
        	"Name" : "Le cœur de la prêtresse",
    		"Priority" : 1,
    		"Adepts" : [
    			"Agent",
				""
    		]
        },
        {
        	"Name" : "Le crâne du démon",
    		"Priority" : 1,
    		"Adepts" : [
    			"Sorcier",
				""
    		]
        },
		{
        	"Name" : "Le chant envoûtant",
    		"Priority" : 1
        },
		{
        	"Name" : "La fleur d'une grande beauté",
    		"Priority" : 1
        },
		{
        	"Name" : "Acte d'intimidation",
    		"Priority" : 1,
			"Adepts" : [
    			"Templier",
				""
    		]
        }
		
		
		
		
        
    ],
    "AcceptQuest" : "Accepter",
    "SendAdepts" : "Envoyer"
}